In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
from process_results import process_results

In [4]:
process_results(
    obs_set='all',
    do_flip=False,
    num_lags=7,
    persist_dir='../data/results/drivenow/deep_lqr_tl/',
    cens_seed_range=range(42, 52), 
    frac_range=[0.1, 0.2, 0.3, 0.4], 
    tf_seed_range=range(0, 10))

& \ms{.870}{.0} & \ms{1680}{123}& \ms{.659}{.0} & \ms{1442}{75}& \ms{.341}{.1} & \ms{1339}{84}& \ms{.106}{.0} & \ms{1105}{62} \\

      icp_test               mil_test             cross_test
          mean       std         mean         std       mean  std
frac
0.1   0.870309  0.029150  1680.786743  123.053316        0.0  0.0
0.2   0.658969  0.039135  1442.433105   75.484197        0.0  0.0
0.3   0.341031  0.068261  1339.964355   84.296606        0.0  0.0
0.4   0.105773  0.020482  1105.320190   62.554996        0.0  0.0

In [6]:
process_results(
    obs_set='all',
    do_flip=True,
    num_lags=7,
    persist_dir='../data/results/drivenow/deep_linear_ys/',
    cens_seed_range=range(42, 52), 
    frac_range=[0.1, 0.2, 0.3, 0.4], 
    tf_seed_range=range(0, 10))

& \ms{.858}{.0} & \ms{1594}{59}& \ms{.673}{.0} & \ms{1419}{64}& \ms{.342}{.1} & \ms{1242}{74}& \ms{.127}{.0} & \ms{1084}{107} \\

      icp_test               mil_test             cross_test
          mean       std         mean         std       mean  std
frac
0.1   0.857526  0.019475  1594.697388   59.957411        0.0  0.0
0.2   0.672784  0.041852  1419.283569   64.512169        0.0  0.0
0.3   0.341856  0.061701  1242.105835   74.885757        0.0  0.0
0.4   0.127010  0.044363  1084.332520  107.260641        0.0  0.0

In [7]:
process_results(
    obs_set='all',
    do_flip=True,
    num_lags=7,
    persist_dir='../data/results/drivenow/deep_linear_dropout_ys/',
    cens_seed_range=range(42, 52), 
    frac_range=[0.1, 0.2, 0.3, 0.4], 
    tf_seed_range=range(0, 10))

& \ms{.912}{.0} & \ms{2017}{68}& \ms{.858}{.0} & \ms{1848}{84}& \ms{.683}{.1} & \ms{1641}{109}& \ms{.282}{.1} & \ms{1406}{48} \\

      icp_test               mil_test             cross_test
          mean       std         mean         std       mean  std
frac
0.1   0.912165  0.005600  2017.978149   68.966076        0.0  0.0
0.2   0.857732  0.028520  1848.875732   84.865508        0.0  0.0
0.3   0.683299  0.070762  1641.550293  109.262134        0.0  0.0
0.4   0.281856  0.060356  1406.396973   48.820745        0.0  0.0

In [8]:
process_results(
    obs_set='all',
    do_flip=True,
    num_lags=7,
    persist_dir='../data/results/drivenow/deep_lstm_linear_ys/',
    cens_seed_range=range(42, 52), 
    frac_range=[0.1, 0.2, 0.3, 0.4], 
    tf_seed_range=range(0, 10))

& \ms{.904}{.0} & \ms{2210}{165}& \ms{.850}{.1} & \ms{2014}{262}& \ms{.779}{.1} & \ms{2329}{1114}& \ms{.343}{.2} & \ms{1595}{302} \\

      icp_test               mil_test              cross_test
          mean       std         mean          std       mean       std
frac
0.1   0.904124  0.010964  2210.412109   165.705782   0.001443  0.004564
0.2   0.850103  0.051045  2014.519043   262.479558   0.000206  0.000652
0.3   0.778557  0.133653  2329.281738  1114.025125   0.000206  0.000652
0.4   0.342680  0.206723  1595.701416   302.940676   0.000000  0.000000

In [9]:
process_results(
    obs_set='all',
    do_flip=True,
    num_lags=7,
    persist_dir='../data/results/drivenow/res_reg_tanh/',
    cens_seed_range=range(42, 52), 
    frac_range=[0.1, 0.2, 0.3, 0.4], 
    tf_seed_range=range(0, 10))

& \ms{.000}{.0} & \ms{0}{0}& \ms{.000}{.0} & \ms{0}{0}& \ms{.000}{.0} & \ms{0}{0}& \ms{.000}{.0} & \ms{0}{0} \\

     icp_test      mil_test      cross_test
         mean  std     mean  std       mean  std
frac
0.1       0.0  0.0      0.0  0.0        1.0  0.0
0.2       0.0  0.0      0.0  0.0        1.0  0.0
0.3       0.0  0.0      0.0  0.0        1.0  0.0
0.4       0.0  0.0      0.0  0.0        1.0  0.0

In [10]:
process_results(
    obs_set='all',
    do_flip=True,
    num_lags=7,
    persist_dir='../data/results/drivenow/res_reg_10tanh_lin/',
    cens_seed_range=range(42, 52), 
    frac_range=[0.1, 0.2, 0.3, 0.4], 
    tf_seed_range=range(0, 10))

& \ms{.000}{.0} & \ms{65}{41}& \ms{.000}{.0} & \ms{75}{41}& \ms{.000}{.0} & \ms{70}{24}& \ms{.000}{.0} & \ms{82}{47} \\

     icp_test        mil_test            cross_test
         mean  std       mean        std       mean       std
frac
0.1       0.0  0.0  65.706894  41.151080   0.100000  0.316228
0.2       0.0  0.0  75.090988  41.367997   0.100000  0.316228
0.3       0.0  0.0  70.673920  24.892004   0.002887  0.009128
0.4       0.0  0.0  82.823906  47.709313   0.100000  0.316228

In [12]:
process_results(
    obs_set='all',
    do_flip=True,
    num_lags=7,
    persist_dir='../data/results/drivenow/res_reg_stacked_10tanh_lin/',
    cens_seed_range=range(42, 52), 
    frac_range=[0.1, 0.2, 0.3, 0.4], 
    tf_seed_range=range(0, 10))

& \ms{.001}{.0} & \ms{660}{10}& \ms{.000}{.0} & \ms{594}{7}& \ms{.000}{.0} & \ms{523}{18}& \ms{.000}{.0} & \ms{440}{17} \\

      icp_test              mil_test            cross_test
          mean       std        mean        std       mean  std
frac
0.1   0.001443  0.000996  660.602295  10.665358        0.0  0.0
0.2   0.000000  0.000000  594.365173   7.452476        0.0  0.0
0.3   0.000000  0.000000  523.587402  18.272250        0.0  0.0
0.4   0.000000  0.000000  440.626984  17.258571        0.0  0.0

In [13]:
process_results(
    obs_set='all',
    do_flip=True,
    num_lags=7,
    persist_dir='../data/results/drivenow/res_reg_tanh_lin/',
    cens_seed_range=range(42, 52), 
    frac_range=[0.1, 0.2, 0.3, 0.4], 
    tf_seed_range=range(0, 10))

& \ms{.000}{.0} & \ms{510}{62}& \ms{.000}{.0} & \ms{487}{54}& \ms{.000}{.0} & \ms{329}{115}& \ms{.000}{.0} & \ms{168}{34} \\

     icp_test         mil_test             cross_test
         mean  std        mean         std       mean       std
frac
0.1       0.0  0.0  510.826477   62.322373   0.007423  0.016386
0.2       0.0  0.0  487.679474   54.729016   0.001649  0.005216
0.3       0.0  0.0  329.119415  115.099707   0.014433  0.027731
0.4       0.0  0.0  168.235764   34.477957   0.010928  0.013435